@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Righteous&family=Stalinist+One&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .right {
  border: 2px solid white;
  float: right;
}

.left {
  float: left;
} */

table, th, tr, td {
  border: 1px solid white;
  border-collapse: collapse;
}

td {
  font-family: 'Audiowide';
}

th {
  font-family: 'Righteous';
  font-size: 18pt; 
  background-color: white;
  color: #282c34;
  padding: 5px;
  border: 1px solid #282c34;
}
